<ion-content [fullscreen]="true">
  <div style="width: 100%;">
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let c of characteres">
        <div class="card">
          <img src="{{c.image}}" alt="{{c.name}}">
          <p></p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div style="background: purple; height: auto;width: 100%;">
    <ion-list>
      <ion-item *ngFor="let e of episodes">
        <div class="episode">
            <ion-grid>
              <ion-row>
                <!-- <ion-col>
                  <img src="{{e.characters[0]}}"/>
                </ion-col> -->
                <ion-col>
                  <h5>{{e.name}}</h5>
                  <strong>Episode: </strong> {{e.episode}}
                </ion-col>
                </ion-row>
            </ion-grid>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
