ion-content{
    --background: #202329;
}

.img-login{
    height: 30%;
    width: 100%;
    max-height: 30%;
    margin-bottom: 25%;
}

ion-item{
    --ion-background-color: transparent;
    --border-color: white;
    width: 90%;
    margin: 0 auto;
    --color: white;
}

form {
    text-align: center;
}

.item-has-focus{
    --highlight-background: #e2e2e2;
     
}

.item-has-focus ion-label {
    color: white !important;
    
}

.btn {
    background-color: #55cc44;
    color: white;
    border-radius: 18px;
    width: 75%;
    padding: 10px;
    margin-top: 7%;
}

.btns{
    text-align: center;
    margin-top: 15%;
}

.btn-link {
    margin: 0 auto;
    background-color: transparent;
    color: white;
}